@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --background: oklch(16% .005 285.823);
  --foreground: oklch(98.5% 0 0);
  --card: oklch(16% .005 285.823);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(#0f0c0d 16% .005 285.823);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: oklch(98.5% 0 0);
  --primary-foreground: oklch(21% .006 285.885);
  --secondary: oklch(27.4% .006 286.033);
  --secondary-foreground: oklch(98.5% 0 0);
  --muted: oklch(27.4% .006 286.033);
  --muted-foreground: oklch(70.5% .015 286.067);
  --accent: oklch(27.4% .006 286.033);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(39.6% .141 25.723);
  --destructive-foreground: oklch(63.7% .237 25.331);
  --border: oklch(27.4% .006 286.033);
  --input: oklch(27.4% .006 286.033);
  --ring: oklch(44.2% .017 285.786);
  --chart-1: oklch(48.8% .243 264.376);
  --chart-2: oklch(69.6% .17 162.48);
  --chart-3: oklch(76.9% .188 70.08);
  --chart-4: oklch(62.7% .265 303.9);
  --chart-5: oklch(64.5% .246 16.439);
  --sidebar: oklch(16% .005 285.823);
  --sidebar-foreground: oklch(98.5% 0 0);
  --sidebar-primary: oklch(48.8% .243 264.376);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(27.4% .006 286.033);
  --sidebar-accent-foreground: oklch(98.5% 0 0);
  --sidebar-border: oklch(27.4% .006 286.033);
  --sidebar-ring: oklch(44.2% .017 285.786);
}

.dark {
  --background: oklch(16% .005 285.823);
  --foreground: oklch(98.5% 0 0);
  --card: oklch(16% .005 285.823);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(#0f0c0d 16% .005 285.823);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: oklch(98.5% 0 0);
  --primary-foreground: oklch(21% .006 285.885);
  --secondary: oklch(27.4% .006 286.033);
  --secondary-foreground: oklch(98.5% 0 0);
  --muted: oklch(27.4% .006 286.033);
  --muted-foreground: oklch(70.5% .015 286.067);
  --accent: oklch(27.4% .006 286.033);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: oklch(39.6% .141 25.723);
  --destructive-foreground: oklch(63.7% .237 25.331);
  --border: oklch(27.4% .006 286.033);
  --input: oklch(27.4% .006 286.033);
  --ring: oklch(44.2% .017 285.786);
  --chart-1: oklch(48.8% .243 264.376);
  --chart-2: oklch(69.6% .17 162.48);
  --chart-3: oklch(76.9% .188 70.08);
  --chart-4: oklch(62.7% .265 303.9);
  --chart-5: oklch(64.5% .246 16.439);
  --sidebar: oklch(16% .005 285.823);
  --sidebar-foreground: oklch(98.5% 0 0);
  --sidebar-primary: oklch(48.8% .243 264.376);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(27.4% .006 286.033);
  --sidebar-accent-foreground: oklch(98.5% 0 0);
  --sidebar-border: oklch(27.4% .006 286.033);
  --sidebar-ring: oklch(44.2% .017 285.786);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}